/* color del cuerpo */
*{
    font-family: sans-serif;
    background: none;
    color: white;
    text-align: center;
}

li{
    list-style-type: none;
    text-align: left;
}
/* todos los tag a se vean de color negro */
a{
    color: white;
    text-decoration: none;
}
/* todos los tag a de la clase menu */
a.menu:hover{
    color: gray;
    align-content: center;
}

body{
    background: rgb(46, 41, 41);
}

td.texto{
    height: 25%;
}

/* quitandole las punta de las imagenes en un 70 porciento */
img{
    border-radius: 1.34%;
    width: 35%;
}

.cuadro1{
    background: #03E7FC;
    height: 25%;
}
.cuadro2{
    background: rgb(255, 255, 0);
    height: 25%;
} 
.cuadro3{
    background: rgb(255, 165, 0);
    height: 25%;
}
.cuadro4{
    background: rgb(255, 0, 0);
    height: 25%;
}