/* color del cuerpo */
*{
    font-family: sans-serif;
    background: none;
    color: white;
    
}
a.atras{
    float: right;
}
/* todos los tag a se vean de color negro */
a{
    color: white;
    text-decoration: none;
}
/* todos los tag a de la clase menu */
a.menu:hover{
    color: gray;
    align-content: center;
}
.DatoAnimal{
    text-align: left;
    float: 50%;
}
.atrasAnimal{
    float: right;
    text-align: right;
}
body{
    background: rgb(46, 41, 41);
}

/* quitandole las punta de las imagenes en un 1.34% porciento  y definimos un tamaño de 40% y 45%*/
img{
    border-radius: 1.34%;
    width: 40%;
    height: 45%;
}
.menu{
    float: left;
    width: 20%;
}
.cuadroG{
    float: right;
    width: 80%;
}
.cuadro1{
    background: #03E7FC;
    height: 25%;
    text-align: center;
}
.cuadro2{
    background: rgb(255, 255, 0);
    height: 25%;
    text-align: center;

} 
.cuadro3{
    background: rgb(255, 165, 0);
    height: 25%;

}
.cuadro4{
    background: rgb(255, 0, 0);
    height: 25%;
    text-align: center;

}