<!DOCTYPE html>
<html>
    <head>
        <title>Ayuda a un peludo</title>
        <script type="text/javascript" src="funciones.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    </head>
    <body>
        <header>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <!-- area del menu -->
            <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
                <a class="navbar-brand" href="index.html">ayuda a un peludo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="index.html">INICIO <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="animales.html">Animales</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="contactos.html" tabindex="-1" aria-disabled="true">Contactos</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="consulta.html" tabindex="-1" aria-disabled="true">Consulta</a>
                    </li>
                    <li class="nav-item" id="geo">
                    
                    </li>
                </ul>
                </div>
            </nav>	
        </header>
        <br>
        <div class="container">
            <div class="row justify-content-center">

                
                <div class="card col-auto mt-auto">
                    <!-- cuadros con los datos-->
                    <table>
                        <tr>
                            <td>
                                <div style="width: 18rem;">
                                    <img src="imagen/G2.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                    </td>
                                    <td>
                                        <p class="card-text">
                                            <li type="none">Nombre: preciosa</li>
                                            <li type="none">Edad:  1</li>
                                            <li type="none">Género: Hembra</li>
                                            <li type="none">Esterilizado: No</li>
                                            <li type="none">Nro. Chip: 1001001111</li>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
                
        </div>
<!-- codigos importantes -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    </body>
</html>
